@model IEnumerable<Students_Portal_App.Models.Entities.StudentsPaper>

<h2>All Papers</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Student Id</th>
            <th>Paper Id</th>
            <th>Paper Code</th>
            <th>Paper Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.StudentId</td>
                <td>@p.PaperId</td>
                <td>@p.PaperCode</td>
                <td>@p.PaperTitle</td>
                <td>@p.PaperDescription</td>
            </tr>
        }
    </tbody>
</table>
